@{
    ViewBag.Title = "Кровельные работы, строительно-монтажные работы, окна, двери";
    ViewBag.Description = "Все кровельные и строительно-монтажные работы выполняются качественно, с гарантией и в оговоренные сроки. Строительно-монтажные работы в Борисове, Жодино, Крупки, Смолевичи. Расчет стоимости.";
    ViewBag.Keywords = "расчет, калькулятор, фасад, прайс, утепление, отделка, окна, двери";
}
<div class="indexPage">
    <div id="myCarousel" class="carousel fade" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="bottom:40px;">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <div class="carousel-caption img_roof krovlia_top_fon">
                    <h2 class="main_img_text">ВСЕ ВИДЫ<br />КРОВЕЛЬНЫХ РАБОТ</h2>
                    <p>Мон­таж­ные кро­вель­ные ра­бо­ты – это за­вер­ша­ю­щий этап всех ра­бот, свя­зан­ных с кры­шей, ко­то­рый по зна­чи­мос­ти мож­но срав­нить с за­лив­кой его фун­да­мен­та. Выполняем кровельные работы в Борисове, Жодино, Крупки, Смолевичи</p>
                    <a href="~/Krovlya/Dvuskatnaya" class="btn btn-greeen btn-border">РАСЧЕТ СТОИМОСТИ</a>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption img_roof fasad_top_fon">
                    <h2 class="main_img_text">ФАСАДНЫЕ РАБОТЫ</h2>
                    <p>Хорошо отделанный фасад - это не только внешний вид Вашего дома, но и защита стен от всех неблагоприятных климатических условий, свойственных климатической зоне Минской области: большие разницы между зимней и летней температурой, летнее солнце и осенние дожди - все это влияет на способность стен дома оставаться как можно дольше в первозданном состоянии. Выполняем фасадные работы в Борисове, Жодино, Крупки, Смолевичи</p>
                    <a href="~/Home/Price" class="btn btn-greeen btn-border">РАСЧЕТ СТОИМОСТИ</a>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="container index-uslugi">
        <div class="row">
            <div class="col-md-3">
                <div class="TB_content krovlia">
                        <a href="/Krovlya/Index">МОНТАЖ КРОВЛИ</a>                                     
                </div>
            </div>
            <div class="col-md-3">
                <div class="TB_content uteplenie">
                    <a href="/Krovlya/Index">
                        УТЕПЛЕНИЕ КРОВЛИ
                    </a>
                        
</div>
            </div>
            <div class="col-md-3">
                <div class="TB_content voda">
                    <a href="/Krovlya/Index">
                        МОНТАЖ ВОДОСТОЧНЫХ СИСТЕМ
                    </a>                        
</div>
            </div>
            <div class="col-md-3">
                <div class="TB_content stropila">
                    <a href="/Krovlya/Index">
                        МОНТАЖ СТРОПИЛЬНОЙ СИСТЕМЫ
                    </a>                        
</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="TB_content fasad">
                    <a href="/Home/Price">
                        ОТДЕЛКА САЙДИНГОМ
                    </a>                        
</div>
            </div>
            <div class="col-md-3">
                <div class="TB_content okno">
                    <a href="/oknapvh/">
                        ОКОНА ПВХ
                        </a>                        
</div>
            </div>
            <div class="col-md-3">
                <div class="TB_content dverimej">
                    <a href="/dveri/mejkomnatnie">
                        МЕЖКОМНАТНЫЕ ДВЕРИ
                        </a>
                        
</div>
            </div>
            <div class="col-md-3">
                <div class="TB_content dveri">
                    <a href="/dveri/vhodnye">
                        ВХОДНЫЕ ДВЕРИ
                        </a>                        
</div>
            </div>
        </div>
    </div>

    <div class="text_top">
        <div class="container">
            <h2>СТРОИТЕЛЬНО-МОНТАЖНЫЕ РАБОТЫ ОТ «OKNIS» - ВСЕГДА БЕЗУПРЕЧНЫЙ РЕЗУЛЬТАТ!</h2>
        </div>
    </div>

    <div class="container why_we">
        <div class="row">
            <div class="col-md-12">
                <h2>6 ПРИЧИН</h2>
                <h3>Заказать строительно-монтажные работы в OKNIS.BY</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pre_index">
                    <img alt="индивидуальный подход" src="/images/pre-1.png" />
                    <div>
                        <h4>Индивидуальный подход</h4>
                        <p>При работе с клиентом главное – это внимание и индивидуальный подход. Наши специалисты уточнят все Ваши пожелания и подберут именно то, что Вам нужно.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pre_index">
                    <img alt="соотношение цена-качество" src="/images/pre-2.png" />
                    <div>
                        <h4>Соотношение цена-качество</h4>
                        <p>На современном строительном рынке качество работы является обязательным условием выполнения работ. Но, обычно, за качество приходится платить. Мы же ушли от этого стереотипа и знаем, как порадовать клиента оптимальным соотношением цена - качество.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pre_index">
                    <img alt="ежедневный детальный отчет" src="/images/pre-3.png" />
                    <div>
                        <h4>Ежедневный детальный отчет</h4>
                        <p>Мы любим честность и открытость, поэтому хотим, чтобы заказчик всегда знал, на каком этапе находится выполнение задачи, благодаря ежедневной отчетности.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="pre_index">
                    <img alt="поэтапная оплата и контроль" src="/images/pre-4.png" />
                    <div>
                        <h4>Поэтапная оплата и контроль</h4>
                        <p>Мы не требуем от заказчика внесения предоплаты сразу за весь объем работы, а предоставляем возможность поэтапной оплаты. Благодаря этому Вы всегда будете знать, когда, как и за что платите.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pre_index">
                    <img alt="максимальная прибыль для Вас" src="/images/pre-5.png" />
                    <div>
                        <h4>Максимальная выгода для Вас</h4>
                        <p>Мы можем гарантировать Вам лучшую цену на услуги при равных условиях.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pre_index">
                    <img alt="оперативность и сдача работы в срок" src="/images/pre-6.png" />
                    <div>
                        <h4>Оперативность и сдача работы в срок</h4>
                        <p>Мы никогда не указываем сроки, которые не можем соблюдать. С самого начала мы распределяем ресурсы так, чтобы выполнить работу как можно оперативнее, но при этом не завышаем свои возможности.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    @Html.Action("resultComment")
    <div class="container">
            @Html.Action("resultKnowBase", "articles", new { name = "кровля" })
            @Html.Action("resultKnowBase", "articles", new { name = "фасад" })
    </div>
</div>