<div class="similar">
    <div class="container">
        <div class="row similar_row">
            <h2>АКСЕССУАРЫ</h2>
            <div class="col-md-4">
                <a href="#">
                    <img src="/images/furnitura.jpg" alt="">
                    <span>
                        ФУРНИТУРА
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img src="/images/otkos.png" alt="">
                    <span>
                        ОТКОСЫ
                    </span>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img src="/images/otliv.jpg" alt="">
                    <span>
                        ОТЛИВ
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>    
