<div class="container">
    <div class="row glazing_row">
        <div class="col-md-6">
            <a href="#">
                <img src="/images/glazing__list-1.jpg" alt="">
                <span>
                    ЭНЕРГОСБЕРЕГАЮЩИЙ
                    СТЕКЛОПАКЕТ
                </span>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#">
                <img src="/images/glazing__list-2.jpg" alt="">
                <span>
                    МОНТАЖ ПО ГОСТ
                </span>
            </a>
        </div>
    </div>
    <div class="row glazing_row">
        <div class="col-md-6">
            <a href="#">
                <img src="/images/glazing__list-3.jpg" alt="">
                <span>
                    ПОВЫШЕННАЯ
                    ШУМОИЗОЛЯЦИЯ
                </span>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#">
                <img src="/images/glazing__list-4.jpg" alt="">
                <span>
                    ФУРНИТУРА
                    КЛАССА А
                </span>
            </a>
        </div>
    </div>
</div>
