<div class="container" style="text-align:center; padding-bottom:20px; padding-top:20px;">
    <div class="row">
        <div class="col-md-12">
            <h2>У КАЖДОГО КЛИЕНТА ПРИ ЗАКАЗЕ ПЛАСТИКОВЫХ ОКОН ЕСТЬ:</h2>
        </div>
    </div>
    <hr class="hr_orange" />
    <div class="row">
        <div class="col-md-6 text-justify">
            <div>
                <h4>БЕСПЛАТНЫЙ ЗАМЕР И КОНСУЛЬТАЦИЯ</h4>
                <p>
                    Оформите заявку на бесплатный замер, и специалист нашей компании подъедет в удобное время. Он проведет точные измерения и сделает просчет стоимости заказа.<br />
                    Мастер-замерщик подскажет, какое пластиковое окно лучше поставить. И вы можете сразу, не выходя из дома, оформить заказ на покупку и установку пластикового окна.
                </p>
            </div>
            <div>
                <h4>ПОМОЩЬ В ВЫБОРЕ ОКОН ПВХ</h4>
                <p>При выборе профиля и комплектации изделия нужно учитывать многие факторы, как то: степень освещенности помещения, уровень шума, расположение и мощность приборов отопления, климатические условия и другие важные нюансы. Наши специалисты помогут подобрать оптимальный вариант именно для вас, исходя из индивидуальных условий и пожеланий.</p>
            </div>
            <div>
                <h4>КАЧЕСТВЕННЫЙ МОНТАЖ И ГАРАНТИЯ</h4>
                <p>
                    Бригада профессиональных мастеров аккуратно и быстро поставит новое пластиковое окно. Вы сможете оценить качество их работы, и в случае необходимости они доработают что-то согласно вашим замечаниям.<br />
                    Мы в полной мере осуществляем гарантийное и постгарантийное обслуживание.
                </p>
            </div>
        </div>
        <div class="col-md-6 text-justify">
            <div>
                <h4>БЫСТРАЯ И УДОБНАЯ ДОСТАВКА ЗАКАЗА</h4>
                <p>Вы назначаете время – мы приезжаем без опозданий. Доставка осуществляется в будние дни, кроме воскресения и официальных государственных праздников. Мы следим за безопасностью транспортировки – автомобили оборудованы надежными креплениями для перевозки окон (пирамидами).</p>
            </div>
            <div>
                <h4>НИЗКИЕ ЦЕНЫ</h4>
                <p>С наступлением холодов проблема продувания окон, растрескавшийся профиль, перекосы створок и другие дефекты, которые присущи дешевым пластиковым окнам, не появятся. Покупка в интернет-магазине пластиковых окон - это инвестиция в уют, здоровье и комфорт семьи.</p>
            </div>
            <div>
                <h4>РАЗГРУЗКА И ПОДЪЁМ НА ЭТАЖ</h4>
                <p>Наши сотрудники бережно разгрузят и благополучно доставят заказ. Подъем ПВХ окна осуществляется как на лифте, так и по лестнице. </p>
            </div>
        </div>
    </div>
</div>
