<div class="container" style="text-align:center; padding-bottom:20px; padding-top:20px;">
    <div class="row">
        <div class="col-md-12">
            <h2>Установка и продажа окон ПВХ РЕХАУ в Борисове, Жодино, Крупки, Смолевичи</h2>
            <p class="text-justify">
                Компания «OKNIS» рада предложить вам оконные профили, откосы, балконы, фурнитуру и другое от немецкой компании РЕХАУ по выгодным ценам. Долговечность, надежность и высокотехнологичность продукции оценены международными сертификатами качества и удостоились множества наград. <br />REHAU — лидер на рынке ПВХ-профилей в 2015 году <br /> Мы предлагаем вам оценить квалифицированные услуги монтажа и высокий уровень сервиса нашей компании. В вашем доме всегда будут неповторимый комфорт, тепло, уют и идеальная шумоизоляция!
            </p>
            <hr />
            <h2>КАКИЕ ПРЕИМУЩЕСТВА ВЫ ПОЛУЧАЕТЕ ПРИ ПОКУПКЕ ОКОН</h2>
            <div class="col-md-6 text-justify">
                <p>
                    <strong>Эстетичный внешний вид.</strong>
                    Европейское качество и стиль пластиковых окон обеспечивают им широкую популярность. Они одинаково хорошо подходят для остекления квартир, балконов и загородных домов. Пластиковые окна «РЕХАУ» обеспечивают хорошую звукоизоляцию из-за плотного притвора. Пыль, влага и сквозняки задерживаются двумя контурами двухлепесткового уплотнения, это позволяет создать в помещении более комфортные для людей условия.
                </p>
                <p>
                    <strong>Долговечность.</strong>
                    Качественные материалы и выносливая прочная фурнитура способствуют успешной эксплуатации окна долгие годы. Материалы профиля REHAU сертифицированы производителем и успешно прошли испытания на устойчивость к воздействию климатических условий в странах СНГ.
                </p>
            </div>
            <div class="col-md-6 text-justify">
                <p>
                    <strong>Легкий уход.</strong>
                    Пластиковые окна не требуют окрашивания, а ровная поверхность профиля легко очищается от загрязнений и пыли. Ваши окна будут выглядеть, как новые, при этом от вас не потребуется тратить на них много усилий.
                </p>
                <p>
                    <strong>Климат-контроль.</strong>
                    Современные пластиковые окна с системой «климат-контроль», обеспечивают необходимый воздухообмен в помещении и помогают создавать комфортный микроклимат.
                </p>
            </div>
        </div>
    </div>
</div>
