<div class="oknosteps">
    <div class="container">
        <div class="table-responsive">
            <h3>Всего один звонок и...</h3>
            <br />
            <table class="steps">
                <tbody>
                    <tr>
                        <td><img src="~/images/zamer.png" /><br />Бесплатный выезд<br />замерщика</td>
                        <td><img src="~/images/arrow.png" /></td>
                        <td><img src="~/images/dogovor.png" /><br />Заключение<br />договора</td>
                        <td><img src="~/images/arrow.png" /></td>
                        <td><img src="~/images/dostavka.png" /><br />Доставка<br />изделия</td>
                        <td><img src="~/images/arrow.png" /></td>
                        <td><img src="~/images/montazh.png" /><br />Монтаж<br />изделия</td>
                        <td><img src="~/images/arrow.png" /></td>
                        <td><img src="~/images/service.png" /><br />Сервисное<br />обслуживание</td>
                    </tr>
                </tbody>
            </table>
            <br />
        </div>
    </div>
</div>
