<div class="container">    
    <div class="rassrochka">
        <table class="table">            
            <tr class="">
                <td>
                    <img src="~/images/discount.jpg" />               
                </td>
                
                <td>
                    <img src="~/images/dostavka.jpg" />               
                </td>
                <td>
                    <img src="~/images/rassrochka.jpg" />
                </td>           
            </tr>
        </table>
    </div>    
</div>