@model List<string>
 <div class="col-md-12" style="max-height:400px; overflow-y:scroll;">
    @foreach (var url in Model)
    {
        <div class="col-md-4" style="padding:3px;">
            <img class="col-md-10" src=@url />
        </div>
    }
</div>
<div class="col-md-12 text-center" style="padding-top:15px;" id="navigationImageList">
    @for (int i = 1; i <= ViewBag.Count; i++)
    {
        <span>@i</span>
    }
</div>


   
